body {
  background-color: #D8AC63
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
}
li:hover {
  background-color: #99BBD6
}
h2{
  color: #FAFFFA;
    text-align: center;
  font-family: courier;

}
