body {
  background-color: #D8AC63
}
nav {
   top: 0px;
  left: 0px;
  list-style-type: none;
  width: 100%;
background-color: #A11607;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
li:hover {
  background-color: #99BBD6
}
h2{
  color: #FAFFFA;
    text-align: center;
  font-family: courier;

}
