body {
  background-color: #D8AC63
}
nav {
  list-style-type: none;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 10px;
   background-color: #A11607;
     width: 100%;
     position: fixed;
  top: 0;
  left: 0;
}
    
li {
  display: flex;
    length: 50px;

}
li:hover {
  background-color: #99BBD6
}
h2{
  color: #FAFFFA;
    text-align: center;
  font-family: courier;

}
